body{
    font-family: 'Oxygen', sans-serif;
    background-color: #282c34;
}
.contenedor__header{
    min-height: 80px;    
    background-color: #7049b8;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #93f459;
   

}
.contenedor__logos{
    width: 100%;
    text-align: center;
    color: white;  
    height: 100%;     
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.logo-right-enlace{
    text-decoration: none;
    color: #fff;
}
.logo-right-enlace:hover{
    color: rgb(196, 193, 193);
}
.services__container{
    background-color: #1e1f29;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services__box{
    width: 100%;
    padding: 15px;
    color:rgb(221, 219, 219);
    text-align: center;
}
.services__box:first-child{
    background-color: #282c34;
}
.services__icon img{
    width: 70px;
}
.services__encabezado{
    font-size: 1.3rem;
    font-weight: 400;
}

@media screen and (min-width: 480px){
    .contenedor__header{
        flex-direction: row;
        justify-content: space-between;
    
    }
    .services__container{
        flex-wrap: nowrap;
    }
    .services__box{
        width: calc(100% / 3);
    }
}